root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{json,yml,yaml,js}]
indent_size = 2

[*.{toml,snbt}]
end_of_line = crlf
indent_style = tab
tab_width = 4

[*.cfg]
end_of_line = crlf
